@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

html {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

a:link, a:visited{
    color:#fff;
    text-decoration: none;
    background-color: transparent;
}

a:hover, a:active {
    color:#fff;
    text-decoration: none;
    background-color: transparent;
}

.link-text {
    font-size: 20px;
    font-weight: medium;
    vertical-align: center;
    horiz-align: center;
}

.link-text:hover {
    background: linear-gradient(130deg, #ff7a18,#e52e71);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    font-family: 'DM Mono', monospace;
    cursor: default;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

body::-webkit-scrollbar-track {
    background: #000;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #17141d;
    color: #fff;
}

.logo-name {
    display: flex;
    align-items: center;
    padding-left: 3rem;
}

.logo {
    width: 80px;
    height: auto;
    padding-right: 1rem;
}

.name {
    font-size: 40px;
}

.name:hover {
    background: linear-gradient(130deg, #ff7a18,#e52e71);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    display: flex;
    align-items: center;
}

.nav-element {
    padding-left: 1rem;
    padding-right: 1rem;
}

.header-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 6rem;
}

#signin, #account, #cart {
    width: 34px;
    height: auto;
    padding-left: 1rem;
}

#signin {
    padding-left: 3rem;
}

#signin:hover, #account:hover, #cart:hover {
    cursor: pointer;
    fill: rgb(88, 87, 87);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#ModalBtn {
    background: Transparent;
    border-style: none;
}
  
.modal-content {
    background-color: #fefefe;
    color:#000;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
}

.cart-name {
    font-size: 38px;
    font-weight: bold;
}

.modal-body {
    padding: 2px 16px;
}

.cart-row {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 1rem 0.3rem 1rem;
    border-bottom: 1px solid;
}

.cart-quantity-input {
    width: 30px;
}

.btn-danger {
    border-radius: 5px;
    border-style: none;
    background:#ff0040;
    padding: 0.2rem;
    font-size: 16px;
    font-weight: medium;
}

.btn-danger:hover {
    cursor: pointer;
}

.modal-footer {
    padding: 2px 16px;
}

.shipping {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.shipping-name {
    font-size: 26px;
    font-weight: bold;
}

.shipping-data {
    width: 350px;
    height: 20px;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.submit-shipping {
    border-style: none;
    background: transparent;
    font-size: 32px;
    margin: 0.5rem 0 0.5rem 7.5rem; 
}

.submit-shipping:hover{
    cursor: pointer;
    background: linear-gradient(130deg, #ff7a18,#e52e71);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin: 3rem;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "main-header main-header main-header"
    "main-content main-content main-content";
}

.main-header {
    grid-area: main-header;
}

.trending {
    display: flex;
    
}

.trending-card-outer {
    margin-top: 3rem;
    width: 250px;
    height:370px;
    background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#e647c6 76.05%);
    border-radius: 12px;
    padding: 0.313rem;
 }

.trending-card-inner {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   width: 250px;
   height: 370px;
   border-radius: 8px;
   background: #000;
   color: #fff;
}

.trending-heading {
    padding : 2rem 1rem 5rem 1rem;
}

.trending-card-list {
    display: flex;
    padding: 3rem 0 3rem 2rem;
    margin: 0;
    gap: 1rem;
    margin: 0 0 1.5rem;
    position: relative;
}

.trending-list-element {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 300px;
    width: 250px;
    min-width: 250px;
    padding: 1.5rem;

    border-radius: 16px;
    background: #17141d;
    color: #fff;
    box-shadow: -1rem 0 3rem #000;

    transition: .2s;
}

.trending-book-image {
    max-width: 130px;
    height: auto;
}

.trending-book-details {
    display:flex;
    flex-direction: column; 
}

.trending-title {
    font-size: 20px;
}

.trending-author {
    font-size: 14px;
}

.trending-author:hover, .trending-title:hover {
    background: linear-gradient(130deg, #ff7a18,#e52e71);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
}

.trending-list-element:hover {
    transform: translateY(-1rem);
}

.trending-list-element:hover~.trending-list-element {
    transform: translateX(130px);
}

.trending-list-element:not(:first-child) {
    margin-left: -130px;
}

.trending-card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.trending-card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
}


.trending-card-list::after {
    content: "";
    position: absolute;
    right: 0;
    top: 3;
    bottom: 3.6rem;
    width: 5px;
    border-radius: 5px;
    background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#e647c6 76.05%);
    box-shadow: -10px 0 20px 3px #000;
}

.main-content {
    grid-area: main-content;
    display: grid;
    margin:0 3rem 0 3rem;
    gap: 2.7rem;
    grid-template-columns: repeat(auto-fill,minmax(250px,280px));
}

.product-card {
    height: 400px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 2rem;
    background: #17141d;
    color: #fff;
}


.book-image {
    width: 250px;
    height: auto;
    padding-left: 0.5rem;
}

.book-details {
    display:flex;
    flex-direction: column;
    padding: 1rem; 
}

.book-title {
    font-size: 18px;
}

.book-author {
    font-size: 16px;
}

.book-author:hover, .book-title:hover {
    background: linear-gradient(130deg, #ff7a18,#e52e71);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
}

.price-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trending-price {
    font-size: 12px;
}

.shopping-cart {
    width: 32px;
    height: auto;
    padding: 1rem;
    background: transparent;
    border-style: none;
}

.shopping-cart:hover {
    opacity: 80%;
}

footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#17141d;
    color:#fff;
}

.logo-bottom {
    width: 46px;
    height: auto;
    padding: 5px;
}

.footer-logo-line {
    width: 5%;
}
